/* Splash Screen */
.splash-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
}

.splash-logo {
  max-width: 200px;
  height: auto;
}

/* Header with rectangular logo */
.app-header {
  background-color: #fff; /* white header */
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.header-logo {
  height: 50px;
  object-fit: contain;
}
